/**
 * @file
 */

/**
 * 1. Enable z-index on buttons.
 * 2. Normalize `box-sizing` so we can set width without worrying about
 *    borders and padding.
 * 3. Normalize `line-height`; can’t be changed from `normal` in Firefox 4+.
 * 4. Allows full range of styling in Webkit and Gecko.
 */
.button {
  position: relative;  /* 1 */
  display: inline-block;
  -webkit-box-sizing: border-box;  /* 2 */
  -moz-box-sizing:    border-box;  /* " */
  box-sizing:         border-box;  /* " */
  text-align: center;
  line-height: normal;  /* 3 */
  cursor: pointer;
  -webkit-appearance: none;  /* 4 */
  -moz-appearance:    none;  /* " */
}

/* Prevent focus ring being covered by adjacent items. */
.button:focus {
  z-index: 10;
}

/* ==========================================================================
   Skin
   ========================================================================== */

.button {
  border: 1px solid #a6a6a6;
  border-radius: 20em;
  background-color: #f2f1eb;
  background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image:    -moz-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image:      -o-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image:   linear-gradient(to bottom, #f6f6f3, #e7e7df);
  font-size: 0.938em;
  font-weight: 600;
  color: #262626;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  padding: 0.2em 1em 0.25em;
  -webkit-transition: all 0.1s;
  -moz-transition:    all 0.1s;
  -o-transition:      all 0.1s;
  transition:         all 0.1s;
}

.button:focus,
.button:hover {
  background-color: #f9f8f6;
  background-image: -webkit-linear-gradient(top, #ffffff, #e9e9dd);
  background-image:    -moz-linear-gradient(top, #ffffff, #e9e9dd);
  background-image:      -o-linear-gradient(top, #ffffff, #e9e9dd);
  background-image:   linear-gradient(to bottom, #ffffff, #e9e9dd);
  color: #1a1a1a;
}
.button:focus {
  border-color: #40b6ff;
}
.button:hover {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);
}
.button:active,
.button.is-active {
  background-color: #dfdfd9;
  background-image: -webkit-linear-gradient(top, #d4d4cd, #ecebe5);
  background-image:    -moz-linear-gradient(top, #d4d4cd, #ecebe5);
  background-image:      -o-linear-gradient(top, #d4d4cd, #ecebe5);
  background-image:   linear-gradient(to bottom, #d4d4cd, #ecebe5);
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
  -webkit-transition: none;
  -moz-transition:    none;
  -o-transition:      none;
  transition:         none;
}

/**
 * Make sure we don’t remove default focus styles unless our custom styles
 * are supported.
 */
.supports-boxshadow .button:focus {
  -webkit-box-shadow: 0 0 0.5em 0.1em hsla(203, 100%, 60%, 0.7);
  -moz-box-shadow:    0 0 0.5em 0.1em hsla(203, 100%, 60%, 0.7);
  box-shadow:         0 0 0.5em 0.1em hsla(203, 100%, 60%, 0.7);
  outline: none;
}
.supports-boxshadow .button:active:focus,
.supports-boxshadow .button.is-active:focus {
  box-shadow:
    0 0 0.5em 0.1em hsla(203, 100%, 60%, 0.7),
    inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

.button.is-disabled {
  border-color: #d4d4d4;
  background: #ededed;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  color: #5c5c5c;
  font-weight: normal;
  cursor: default;
}
